<div style="margin-left: 30%; margin-top: 2%;"> 
    <app-add-note></app-add-note>
</div>



    <!-- <div *ngFor= "let note of userNote" >  -->
        <div>
            <app-dialogbox [Note]="userNote"></app-dialogbox>
            <!-- <input [(ngModel)]= "note.title"> -->
        </div>

        <!-- <div>
            <app-dialogbox [pinnedNote]="pinnedNote"></app-dialogbox>
        </div>

        <div>
            <app-dialogbox [unpinnedNote]="unpinnedNote"></app-dialogbox>
        </div>
   -->