.parentdiv
{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

/*mat card padding*/
.matpad
{
  height: 39px;
    width: 390px;
    padding-left: 36px;
}

.matpad2
{
  height: max-content;
  width: max-content;
  padding-left: 21px;
}

.matpad3
{
    height: max-content;
    width: 585px;
    padding-left: 16px;
}


.titlebar
{
  height: 23px;
  width: 265px;
  padding-right: 29px;
}


.descp
{
  height: 80px;
  width: 300px;
}

.noteflex
{
  display: flex;
  flex-flow: row;
}


.maticonflex
{
  display: flex;
  flex-flow: row;
  margin-top: 20px;
  width:55%;
  justify-content: space-between;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.example-full-width {
width: 100%;
}

.divspace
{
  margin-left: 271px;
}

