.p
{
  font-family: "Courier New";
  font-size: 100px;
}


.parentdiv
{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.parentdiv2
{
    // box-sizing: border-box;
    // display: flex;
    // place-content: center flex-start;
    // align-items: center;
    justify-content: space-around;
}

/*mat card padding*/
.matpad
{
  // height: 110px;
  height: max-content;
  width: 227px;
  padding-left: 36px;
}

.matpad2
{
  height: max-content;
  width: max-content;
  padding-left: 21px;
}

.matpad3
{
    height: max-content;
    width: 547px;
    padding-left: 16px;
}

.titlebar
{
  height: 23px;
  width: 265px;
  padding-right: 29px;
}


.descp
{
  height: 80px;
  width: 300px;
}

.noteflex
{
  display: flex;
  flex-flow: row;
}


.maticonflex
{
  display: flex;
  flex-flow: row ;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.example-full-width {
width: 100%;
}

