<div class="bg">

  <!-- div for form-->
  <form [formGroup]="resetpasswordForm">
    <!-- div for form-->
    <div fxLayout="column" fxLayoutAlign="center center" class="flex-container">
      <mat-card class="matpad">
        <h2 style="font-size:150%; text-align:center; color: rgb(49, 100, 177)"> fundooNotes!</h2>
        <h3 class="h3"> Reset Password</h3>


        <!--DIV FOR FEILDS-->
        <div class="example-container">
          <mat-form-field>
            <!-- <input matInput placeholder="Enter new passsword" formControlName="password" > -->
            <input  matInput placeholder="Enter new passsword" formControlName="password" [type]="!hide ? 'password' : 'text'" required>
            <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
        </div>
        
        <div><br>
          <!-- for Next button-->
          <!-- <button mat-button>Next</button> -->
          <nav>
            <a class="button" (click)="onresetpassword()">Sumit</a>
          </nav>
        </div>
      </mat-card>
    </div>
  </form>
</div>