<div class="bg">

  <!-- div for form-->
  <form [formGroup]="forgetpasswordForm">

    <div fxLayout="column" fxLayoutAlign="center center" class="flex-container">
      <mat-card class="matpad">
        <h2 style="font-size:150%; text-align:center; color: rgb(49, 100, 177)"> fundooNotes!</h2>
        <h3 style="font-size:90%; font-family:fantasy ;text-align:left;"><br>Forget Password</h3>


        <!--DIV FOR FEILDS-->

         <!--div  for emailid -->
        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Enter your email" formControlName="emailid" required>
            <mat-error *ngIf="emailid.invalid">{{getErrorMessageUsername()}}</mat-error>
          </mat-form-field>
        </div>

        <div><br>
          <div>
            <!-- for Next button-->
            <!-- <button mat-button>Next</button> -->
            <nav>
              <a  class="button" (click)="onForget()">Next</a>
            </nav>
          </div>
        </div>
      </mat-card>
    </div>
  </form>
</div>