<!-- =============== New File Original--used to load in Dashboard=============-->


<div class="parentdiv">
    <div *ngFor="let lab of getlabels" style=" height:47px;">
    <!-- these below div line===>is just a for loop, will not effect the flex-->
      <!-- <mat-card class=""> -->
          <div class="MB2">
     
            <mat-button-toggle style="border: inherit;" (click)="onNotes(lab.labelId)" routerLink="labelnote">
              <mat-icon class="spacebetween">label</mat-icon>
              <textarea style="border-width: inherit;width: 122px;" matTextareaAutosize [(ngModel)]="lab.labelTitle"></textarea>
            </mat-button-toggle>
        
          </div><br>
        <!-- </div>
      </mat-card>
    </div>0
  </div> -->